:root {
    --global-font-size: 12px;
    --global-line-height: 1.4em;
    --background-color: #222222;
    --font-color: #ffffff;
    --invert-font-color: #222222;
    --primary-color: #62c4ff;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --error-color: #ff3c74;
    --progress-bar-backgroud: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, Dejavu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --input-style: solid;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #00bc8c;
}